<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="../stylesheets/chess.css">
    <link rel='stylesheet' href="../stylesheets/tvmenu.css">
    <link rel='stylesheet' href="../stylesheets/menu.css">
    <link rel='stylesheet' href="../stylesheets/gamescreen.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display:wght@600&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src='../javascripts/chess.js'></script>
    <title>Document</title>
    <script>
        $(function(){
            $('#menu #arrow i').on('click', function(){
                var position1=$('#cdplayer').offset().left
                if(position1<0){
                    $('#cdplayer').css('animation-name','right');
                } else {
                    $('#cdplayer').css('animation-name','left');
                }
            })
            $('#menu #arrow i').mouseover(function(){
                    $('#menu').css('background-color','rgba(43,42,42)');
                $('#menu #arrow i').mouseout(function(){
                    $('#menu').css('background-color','rgba(43,42,42,0.5)');
                })
            })

        })
    </script>
</head>
    <body id="wrapper" class="on">
        <div id="screen">
            <div id="cChessboard">
                <div id="turn"></div>
               <table class="chessboard">
                 <tr id="l8">
                   <td id="18" name="a8" data-peca="" data-player=""></td>
                   <td id="28" name="b8" data-peca="" data-player=""></td>
                   <td id="38" name="c8" data-peca="" data-player=""></td>
                   <td id="48" name="d8" data-peca="" data-player=""></td>
                   <td id="58" name="e8" data-peca="" data-player=""></td>
                   <td id="68" name="f8" data-peca="" data-player=""></td>
                   <td id="78" name="g8" data-peca="" data-player=""></td>
                   <td id="88" name="h8" data-peca="" data-player=""></td>
                 </tr>
                 <tr id="l7">
                   <td id="17" name="a7" data-peca="" data-player=""></td>
                   <td id="27" name="b7" data-peca="" data-player=""></td>
                   <td id="37" name="c7" data-peca="" data-player=""></td>
                   <td id="47" name="d7" data-peca="" data-player=""></td>
                   <td id="57" name="e7" data-peca="" data-player=""></td>
                   <td id="67" name="f7" data-peca="" data-player=""></td>
                   <td id="77" name="g7" data-peca="" data-player=""></td>
                   <td id="87" name="h7" data-peca="" data-player=""></td>
                 </tr>
                 <tr id="l6">
                   <td id="16" name="a6" data-peca="" data-player=""></td>
                   <td id="26" name="b6" data-peca="" data-player=""></td>
                   <td id="36" name="c6" data-peca="" data-player=""></td>
                   <td id="46" name="d6" data-peca="" data-player=""></td>
                   <td id="56" name="e6" data-peca="" data-player=""></td>
                   <td id="66" name="f6" data-peca="" data-player=""></td>
                   <td id="76" name="g6" data-peca="" data-player=""></td>
                   <td id="86" name="h6" data-peca="" data-player=""></td>
                 </tr>
                 <tr id="l5">
                   <td id="15" name="a5" data-peca="" data-player=""></td>
                   <td id="25" name="b5" data-peca="" data-player=""></td>
                   <td id="35" name="c5" data-peca="" data-player=""></td>
                   <td id="45" name="d5" data-peca="" data-player=""></td>
                   <td id="55" name="e5" data-peca="" data-player=""></td>
                   <td id="65" name="f5" data-peca="" data-player=""></td>
                   <td id="75" name="g5" data-peca="" data-player=""></td>
                   <td id="85" name="h5" data-peca="" data-player=""></td>
                 </tr>
                 <tr id="l4">
                   <td id="14" name="a4" data-peca="" data-player=""></td>
                   <td id="24" name="b4" data-peca="" data-player=""></td>
                   <td id="34" name="c4" data-peca="" data-player=""></td>
                   <td id="44" name="d4" data-peca="" data-player=""></td>
                   <td id="54" name="e4" data-peca="" data-player=""></td> 
                   <td id="64" name="f4" data-peca="" data-player=""></td>
                   <td id="74" name="g4" data-peca="" data-player=""></td>
                   <td id="84" name="h4" data-peca="" data-player=""></td>
                 </tr>
                 <tr id="l3">
                   <td id="13" name="a3" data-peca="" data-player=""></td>
                   <td id="23" name="b3" data-peca="" data-player=""></td>
                   <td id="33" name="c3" data-peca="" data-player=""></td>
                   <td id="43" name="d3" data-peca="" data-player=""></td>
                   <td id="53" name="e3" data-peca="" data-player=""></td>
                   <td id="63" name="f3" data-peca="" data-player=""></td>
                   <td id="73" name="g3" data-peca="" data-player=""></td>
                   <td id="83" name="h3" data-peca="" data-player=""></td>
                 </tr>
                 <tr id="l2">
                   <td id="12" name="a2" data-peca="" data-player=""></td>
                   <td id="22" name="b2" data-peca="" data-player=""></td>
                   <td id="32" name="c2" data-peca="" data-player=""></td>
                   <td id="42" name="d2" data-peca="" data-player=""></td>
                   <td id="52" name="e2" data-peca="" data-player=""></td>
                   <td id="62" name="f2" data-peca="" data-player=""></td>
                   <td id="72" name="g2" data-peca="" data-player=""></td>
                   <td id="82" name="h2" data-peca="" data-player=""></td>
                 </tr>
                 <tr id="l1">
                   <td id="11" name="a1" data-peca="" data-player=""></td>
                   <td id="21" name="b1" data-peca="" data-player=""></td>
                   <td id="31" name="c1" data-peca="" data-player=""></td>
                   <td id="41" name="d1" data-peca="" data-player=""></td>
                   <td id="51" name="e1" data-peca="" data-player=""></td>
                   <td id="61" name="f1" data-peca="" data-player=""></td>
                   <td id="71" name="g1" data-peca="" data-player=""></td>
                   <td id="81" name="h1" data-peca="" data-player=""></td>
                 </tr>
                </table>
              </div>
            <div id='menu'>
                <div id='arrow'>
                    <i class="fas fa-angle-double-right">
                    </i>
                </div>
            </div>
        </div>
    
        <div id='tvmenu'>
            <div id='cd'>
                <div id='rotate' style="background-image: url('/images/chess1.png');">
                    
                </div>
            </div>
            <div id="power" onclick="power();"></div>
        </div>

        <div id='cdplayer'>
            <div id ='case'>
                <div id='cd1'>
                    <div id='img1'>
                        <img src='../images/tetris.png'>
                    </div>
                    <div id='description1'>
                        <h2>테트리스</h2>
                        <p>블록을 한 줄씩 쌓아보세요!</p>
                        <a href='/tetris'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
                <div id='cd2'>
                    <div id='img2'>
                        <img src='../images/snake.png'>
                    </div>
                    <div id='description2'>
                        <h2>뱀게임</h2>
                        <p>제한시간<br> 10초입니다!</p>
                        <a href='/snake'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
                <div id='cd3'>
                    <div id='img3'>
                        <img src='../images/pinpong.png'>
                    </div>
                    <div id='description3'>
                        <h2>핑퐁</h2>
                        <p>AI와 탁구를 즐겨보세요!</p>
                        <a href='/pingpong'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
                <div id='cd4'>
                    <div id='img4'>
                        <img src='../images/chess.png'>
                    </div>
                    <div id='description4'>
                        <h2>체스</h2>
                        <p>친구와 체스를 즐겨보세요!</p>
                        <a href='/chess'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
                <div id='cd5'>
                    <div id='img5'>
                        <img src='../images/memorygame.png'>
                    </div>
                    <div id='description5'>
                        <h2>메모리게임</h2>
                        <p>기억력을 발휘해보세요!</p>
                        <a href='/memory'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
                <div id='cd6'>
                    <div id='img6'>
                        <img src='../images/copycat.png'>
                    </div>
                    <div id='description6'>
                        <h2>카피캣</h2>
                        <p>고양이를 동시에 넣으셔야되요!</p>
                        <a href='/copycat'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
                <div id='cd7'>
                    <div id='img7'>
                        <img src='../images/sudoku.png'>
                    </div>
                    <div id='description7'>
                        <h2>스도쿠</h2>
                        <p>시간안에 빈칸에 숫자를 채우세요!</p>
                        <a href='/sudoku'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
                <div id='cd8'>
                    <div id='img8'>
                        <img src='../images/maze.png'>
                    </div>
                    <div id='description8'>
                        <h2>미로찾기</h2>
                        <p>조이스틱을 이용해서 공을 홀안에 넣으세요!</p>
                        <a href='/block'><i class="fas fa-play-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
        let power = function() {
        window.location.href='/main';
        body.className = (body.className == "on") ? "off" : "on";
        }
        </script>
</body>
</html>