<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="../stylesheets/main.css">
    <link rel='stylesheet' href="../stylesheets/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display:wght@600&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display:wght@600&family=Noto+Sans+KR&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script>
        $(function(){
            $('#menu #arrow i').on('click', function(){
                var position1=$('#cdplayer').offset().left
                if(position1<0){
                    $('#cdplayer').css('animation-name','right');
                } else {
                    $('#cdplayer').css('animation-name','left');
                }
            })
            $('#menu #arrow i').mouseover(function(){
                    $('#menu').css('background-color','rgba(43,42,42)');
                $('#menu #arrow i').mouseout(function(){
                    $('#menu').css('background-color','rgba(43,42,42,0.5)');
                })
            })
        })
    </script>
</head>
<body id="wrapper" class="on">
    <div id="screen">
        <div id="content-holder">
            <div id="content">
                <div id="app">
                    <div id="channel">AV1</div>
                    <div id="text">No input signal.</div>
                </div>
            </div>
        </div>
        <div id='menu'>
            <div id='arrow'>
                <i class="fas fa-angle-double-right">
                </i>
            </div>
        </div>
    </div>

    <div id='tvmenu'>
        <div id='cd'>
            <div id='rotate' style="background-image: url('/images/cd.jpg');">
                
            </div>
        </div>
        <div id='random' onclick="random();"></div>
        <div id="power" onclick="power();"></div>
    </div>

    <div id='cdplayer'>
        <div id ='case'>
            <div id='cd1'>
                <div id='img1'>
                    <img src='../images/tetris.png'>
                </div>
                <div id='description1'>
                    <h2>테트리스</h2>
                    <p>블록을 한 줄씩 쌓아보세요!</p>
                    <a href='/tetris'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
            <div id='cd2'>
                <div id='img2'>
                    <img src='../images/snake.png'>
                </div>
                <div id='description2'>
                    <h2>뱀게임</h2>
                    <p>제한시간<br> 10초입니다!</p>
                    <a href='/snake'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
            <div id='cd3'>
                <div id='img3'>
                    <img src='../images/pinpong.png'>
                </div>
                <div id='description3'>
                    <h2>핑퐁</h2>
                    <p>AI와 탁구를 즐겨보세요!</p>
                    <a href='/pingpong'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
            <div id='cd4'>
                <div id='img4'>
                    <img src='../images/chess.png'>
                </div>
                <div id='description4'>
                    <h2>체스</h2>
                    <p>친구와 체스를 즐겨보세요!</p>
                    <a href='/chess'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
            <div id='cd5'>
                <div id='img5'>
                    <img src='../images/memorygame.png'>
                </div>
                <div id='description5'>
                    <h2>메모리게임</h2>
                    <p>기억력을 발휘해보세요!</p>
                    <a href='/memory'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
            <div id='cd6'>
                <div id='img6'>
                    <img src='../images/copycat.png'>
                </div>
                <div id='description6'>
                    <h2>카피캣</h2>
                    <p>고양이를 동시에 넣으셔야되요!</p>
                    <a href='/copycat'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
            <div id='cd7'>
                <div id='img7'>
                    <img src='../images/sudoku.png'>
                </div>
                <div id='description7'>
                    <h2>스도쿠</h2>
                    <p>시간안에 빈칸에 숫자를 채우세요!</p>
                    <a href='/sudoku'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
            <div id='cd8'>
                <div id='img8'>
                    <img src='../images/maze.png'>
                </div>
                <div id='description8'>
                    <h2>미로찾기</h2>
                    <p>조이스틱을 이용해서 공을 홀안에 넣으세요!</p>
                    <a href='/block'><i class="fas fa-play-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    let power = function() {
    let body = document.getElementById("wrapper");
    body.className = (body.className == "on") ? "off" : "on";
    }

    function random() {
        let game = ['/tetris','/snake','/sudoku','/memory','/copycat','/chess','/pingpong','/block']
        let number = Math.floor(Math.random()*game.length);
        // console.log(game[number]);
        window.location.href=game[number]; 
    }
    </script>
</body>

</html>