<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="../stylesheets/snake.css">
    <link rel='stylesheet' href="../stylesheets/tetris.css">
    <!-- <script src='../javascripts/login.js' defer></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display:wght@600&family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display:wght@600&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Display:wght@600&family=Noto+Sans+KR&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src='../javascripts/snake.js'></script>
    <title>Document</title>
    <script>
        $(function(){
            $('#menu #arrow i').on('click', function(){
                var position1=$('#cdplayer').offset().left
                if(position1<0){
                    $('#cdplayer').css('animation-name','right');
                } else {
                    $('#cdplayer').css('animation-name','left');
                }
            })
            $('#menu #arrow i').mouseover(function(){
                    $('#menu').css('background-color','rgba(43,42,42)');
                $('#menu #arrow i').mouseout(function(){
                    $('#menu').css('background-color','rgba(43,42,42,0.5)');
                })
            })

        })
    </script>
</head>
    <body id="wrapper" class="on">
        <div id="screen">
            <div class="container">
                <header>
                  <div class="contrast">10s</div>
                  <div class="score">0</div>
                </header>
                <div class="grid"></div>
                <footer>방향키 또는 스페이스바를 눌러 시작하세요
                  <div>게임이 쉬우신가요? H를 눌러 난이도를 높이세요</footer>
            </div>
            <div id='menu'>
                <div id='arrow'>
                    <i class="fas fa-angle-double-right"></i>
                </div>
            </div>
        </div>
    
        <div id='tvmenu'>
            <div id='cd'>
                <div id='rotate' style="background-image: url('/images/snake1.png');">
                </div>
            </div>
            <div id="power" onclick="power();"></div>
        </div>

        <div id='cdplayer'>
            <div id ='case'>
                <div id='cd1'>
                    <div id='img1'>
    
                    </div>
                    <div id='description1'>
                        <h2>게임1</h2>
                        <p>설명1</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div id='cd2'>
                    <div id='img2'>
    
                    </div>
                    <div id='description2'>
                        <h2>게임2</h2>
                        <p>설명2</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div id='cd3'>
                    <div id='img3'>
    
                    </div>
                    <div id='description3'>
                        <h2>게임3</h2>
                        <p>설명3</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div id='cd4'>
                    <div id='img4'>
    
                    </div>
                    <div id='description4'>
                        <h2>게임4</h2>
                        <p>설명4</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div id='cd5'>
                    <div id='img5'>
    
                    </div>
                    <div id='description5'>
                        <h2>게임5</h2>
                        <p>설명5</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div id='cd6'>
                    <div id='img6'>
    
                    </div>
                    <div id='description6'>
                        <h2>게임6</h2>
                        <p>설명6</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div id='cd7'>
                    <div id='img7'>
    
                    </div>
                    <div id='description7'>
                        <h2>게임7</h2>
                        <p>설명7</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
                <div id='cd8'>
                    <div id='img8'>
    
                    </div>
                    <div id='description8'>
                        <h2>게임8</h2>
                        <p>설명8</p>
                        <i class="fas fa-play-circle"></i>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>